div {
	height: calc(100vh - 124px); /*tamaño de la barra inferior*/
	background-size: 24px 24px;
	background-image:
    linear-gradient(to right, #000 1px, transparent 1px),
    linear-gradient(to bottom, #000 1px, transparent 1px);
}

div * {
	position: absolute;
}