$main-color: #fff;
$alt-color: #108edd;

b {
  width: 224px;
  height: 26px;
  background: #101415;
  overflow: hidden;
  border-radius: 5px;
  color: $main-color;

  & > * {
    float: left;
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  button {
    width: 26px;
    height: 26px;
    background: transparent;
  }

  button span {
    position: relative;
    margin-top: -2px;
    text-align: center;
    margin-left: -6px;
  }

  i {
    /*Triángulos*/
    border: 5px solid transparent;
    border-left-color: $main-color;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .active i {
    border-left-color: $alt_color;
  }

  .fast i {
    margin-left: -2px;
  }

  .fast i:last-child {
    margin-left: 2px;
  }

  .fastest i {
    margin-left: -4px;
  }

  .fastest i:last-child {
    margin-left: 4px;
  }

  .fastest {
    border: 0;
  }

  .fastest i:first-child {
    margin-left: 0;
  }

  #ProgressBar {
    width: 120px;
    height: 26px;
    text-align: center;
    position: relative;
  }

  #Progress {
    background-color: $alt_color;
    height: 26px;
    width: 20px;
  }
 
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
  }

  .paused {
    border-width: 0px 2px;
    border-color: $main_color;
    height: 10px;
    width: 6px;
  }
}
