div {
    height: 124px;
    overflow: visible;
    position: relative;
}

/* Barra construcción */
main {
    background: #161816;
    height: 80px;
    padding: 15px 0;
}

/* Fecha, nombre, dinero, población, etc */
footer {
    background: #272b2c;
    height: 44px;
    width: 100%;
    overflow: hidden;
}

footer > * {
    float: left;
}

ui-date-control {
    margin: 9px;
}