@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css");
* {
    box-sizing: border-box;
}

body,
button {
    margin: 0;
}

b,
i,
span {
    display: inline-block;
}